/*  your css code here. If applicable */
body{
	
}
#buttons{
	display:flex;
	
}
.btn{
	height: 50px;
	width:70px;
	background-color:lightblue;
	border-radius:10px;
	margin-top:100px;
}
.btn:hover{
	height:70px;
}
.stop{
	height: 50px;
	width:70px;
	background-color:red;
	border-radius:10px;
	margin-top:100px;
	
}
.stop:hover{
	height:70px;
}